<h1><%= Apartment.model_name.human + t('.edit') %></h1>

<%= render 'form', apartment: @apartment %>

<%= link_to t('helpers.action.show'), @apartment %> |
<%= link_to t('helpers.action.back'), apartments_path %>
